!include include/default_my.cnf

[mysqld.1]
thread-handling=pool-of-threads
thread_pool_size=1
thread_pool_toobusy=1
innodb_lock_wait_timeout=3600
loose-debug-sync-timeout=300

[client]
connect-timeout=2

[ENV]
MASTER_THREAD_POOL_SIZE=@mysqld.1.thread_pool_size